/* You can add global styles to this file, and also import other style files */
#total{ 
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin:auto;
    background-color:black;
    width: auto;   
}

body {
   background-color:black;
   width: auto;   
}

h6{
   color: #FFFFFF;
   
   display: inline;
   font-size: 12px;
   font-family: verdana, helvetica, arial;
   
}

h7{
   color: #FFFFFF;
   font-size: 14px;
   width: auto;
   font-family: verdana, helvetica, arial;
   height: auto;
}

.alerta{
color:red;

}
#forml{
   
   max-width:1174px;
   
   height: auto;
   min-width: 936px;
   margin-left: 54px;
   
}